<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wykres Rubla xD</title>
    <link rel="shortcut icon" href="http://brownmilleryt.pl/static/favicon.ico">
    <style>

        body {
            background: #3D7EAA;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eff30688, #024ff588);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eff30688, #024ff588); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

    </style>
</head>
<body style="background-color: #808080;">
    <!-- Stała rzecz -->


    <h1 style="text-align:center"><div><span style="color: #001eff"></span></div>
        <div><span style="color: #2a44d5">██╗░░██╗██████╗░██████╗░██████╗░</span></div>
        <div><span style="color: #2a44d5ad">╚██╗██╔╝██╔══██╗██╔══██╗██╔══██╗</span></div>
        <div><span style="color: #2a44d570">░╚███╔╝░██║░░██║██║░░██║██║░░██║</span></div>
        <div><span style="color: #fbff0070">░██╔██╗░██║░░██║██║░░██║██║░░██║</span></div>
        <div><span style="color: #fbff00ad">██╔╝╚██╗██████╔╝██████╔╝██████╔╝</span></div>
        <div><span style="color: #fbff00">╚═╝░░╚═╝╚═════╝░╚═════╝░╚═════╝░</span></div>
    </h1>

    <nav style="text-align: center">
        <a href="http://quenrythaneart.pl/namiot"> namiot </a>&emsp;
        <a href="http://quenrythaneart.pl/namiot/wykres-rubla"> Wykres rubla xd </a>&emsp;
        <a href="http://quenrythaneart.pl/namiot/mam-te-moc"> piosenka mam tę moc </a>&emsp;
    </nav>
    <br>
    <br>



</body>
</html>