<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wykres Rubla xD</title>
    <link rel="shortcut icon" href="http://brownmilleryt.pl/static/favicon.ico">
    <style>

        body {
            background: #3D7EAA;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #eff30688, #024ff588);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #eff30688, #024ff588); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

    </style>
</head>
<body style="background-color: #808080;">
    <!-- Stała rzecz -->


    <h1 style="text-align:center"><div><span style="color: #001eff"></span></div>
        <div><span style="color: #2a44d5">██╗░░██╗██████╗░██████╗░██████╗░</span></div>
        <div><span style="color: #2a44d5ad">╚██╗██╔╝██╔══██╗██╔══██╗██╔══██╗</span></div>
        <div><span style="color: #2a44d570">░╚███╔╝░██║░░██║██║░░██║██║░░██║</span></div>
        <div><span style="color: #fbff0070">░██╔██╗░██║░░██║██║░░██║██║░░██║</span></div>
        <div><span style="color: #fbff00ad">██╔╝╚██╗██████╔╝██████╔╝██████╔╝</span></div>
        <div><span style="color: #fbff00">╚═╝░░╚═╝╚═════╝░╚═════╝░╚═════╝░</span></div>
    </h1>

    <nav style="text-align: center">
        <a href="http://quenrythaneart.pl/namiot">namiot</a>
        <a href="http://quenrythaneart.pl/namiot/wykres-rubla">Wykres rubla xd</a>
    </nav>
    <br>
    <br>

    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div id="tradingview_88472"></div>
        <div class="tradingview-widget-copyright"><a href="https://pl.tradingview.com/symbols/RUBUSD/?exchange=FX_IDC" rel="noopener" target="_blank"><span class="blue-text">RUBUSD wykres</span></a> od TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
        new TradingView.widget(
            {
            "width": 980,
            "height": 610,
            "symbol": "FX_IDC:RUBUSD",
            "interval": "60",
            "timezone": "Etc/UTC",
            "theme": "dark",
            "style": "1",
            "locale": "pl",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "hide_top_toolbar": true,
            "container_id": "tradingview_88472"
            }
        );
        </script>
    </div>
    <!-- TradingView Widget END -->

</body>
</html>